*{
    margin :0 ; 
    Padding:0; /* Abarque toda la pantalla */
}

.contenedor{
    width: 38.9rem;
    height: 21.9rem;
    background: var(--utezazul, #0D3464);
    margin: 0;
}

#inicio{
    padding-left: 40px;
}

button{
    background-color: transparent;
    margin-top: 270px;
    border-radius: 24px;
    height: 30px;
    width: 90px;
    stroke-width: 1px;
    stroke: #FFF;
}

#I{
    color: #ffffff;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 91.964px;
    height: 19.061px;
    flex-direction: column;
    flex-shrink: 0;
}

#barraInfo{
    width: 30rem;
    height: 17rem;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    padding: 1px;
    padding-left: -5px;
    float: right; /* Mandar el div a la izquierda o derecha */
    margin-top: -235px;
}

#tutor{
    margin-top: 20px;
    display: flex;
    width: 356px;
    height: 23px;
    flex-direction: column;
    flex-shrink: 0;
    color: var(--utezazul, #0D3464);
    text-align: center;
    font-family: Asap Condensed;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h5{
    display: flex;
    width: 652px;
    height: 23px;
    flex-direction: column;
    flex-shrink: 0;color: #000;
    text-align: center;
    font-family: Asap Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 100px;
    margin-left: 100px;
}

h6{
    display: flex;
    width: 179px;
    flex-direction: column;
    flex-shrink: 0;color: #000;
    font-family: Asap Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
    margin-left: 300px;
}

#correo{
    display: flex;
    width: 259px;
    flex-direction: column;
    flex-shrink: 0;color: #5a5a5a;
    font-family: Asap Condensed;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
   
    margin-left: 300px;
}

.cambio{
    margin-top: 35px;
}

.cona{
    padding-left: 40px;
}

#ca{
    display: flex;
    width: 133.472px;
    height: 20.364px;
    flex-direction: column;
    flex-shrink: 0;color: #818181;
    text-align: center;
    font-family: Asap Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#coa{
    margin-top: 1px;
    width: 180px;
    height: 33px;
    flex-shrink: 0;
    fill: rgba(217, 217, 217, 0.29);
}

#cn{
    display: flex;
    width: 133.472px;
    height: 20.364px;
    flex-direction: column;
    flex-shrink: 0;color: #818181;
    text-align: center;
    font-family: Asap Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.con{
    padding-left: 320px;
    margin-top: -60px;
}

#cc{
    display: flex;
    width: 133.472px;
    height: 20.364px;
    flex-direction: column;
    flex-shrink: 0;color: #818181;
    text-align: center;
    font-family: Asap Condensed;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.coc{
    padding-left: 570px;
    margin-top: -60px;
}

.Modificar{
    padding-left: 620px;
}

#M{
    border-radius: 24px;
    background: var(--verde-utez, #14AC8C);
    display: flex;
    width: 96px;
    height: 33px;
    padding: 12px 20px 12px 12px;
    align-items: flex-start;
    gap: 12px;
    flex-shrink: 0;
    margin-top: 34px;
    align-content: center;
}

#Mo{
    color: #FFFBFB;
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    width: 91.964px;
    height: 19.061px;
    flex-direction: column;
    flex-shrink: 0;
    text-align: justify;
    margin-top: -10px;
}

.utez{
    padding-left: 7px;
    padding-top: 10px;
    position:absolute;
    width: 77.602px;
    height: 37px;
    flex-shrink: 0;
    border-radius: 20px;   
    /*background: url(<path-to-image>), lightgray 50% / cover no-repeat;*/
}